body {
  font-family: "Lato", sans-serif;
  background-color: black;
  color: white;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: SlateGrey;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav h3 {
  padding: 6px 6px 6px 6px;
  text-decoration: underline;
  color: white;
  display: block;
}

.sidenav h4 {
  padding: 6px 6px 6px 6px;
  text-decoration: underline;
  color: white;
  display: block;
}

.sidenav a {
  padding: 0px 6px 6px 6px;
  text-decoration: none;
  font-size: 20px;
  color: cyan;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

.container {
display: grid;
align-items: center;
grid-template-columns: 1fr 1fr;
column-gap: 5px;
}

.container img {
max-width: 80%;
max-height: 80%;
margin-left: 100px;
}

.container p {
    margin-right: 100px;
    padding-right: 150px;
    font-size: 20px;
}

.aboutme {
    padding-left: 100px;
    padding-right: 250px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
}

.child {
    padding-left: 100px;
}